@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");

body {
	font-family: "Quicksand", sans-serif;
	font-weight: 400;
	color: gray;
}

.content {
	background: white;
	padding: 2% 4% 4% 4%;
	width: 90%;
	height: auto;
	margin: 1%;
	display: block;
}

.dark-mode,
.dark-mode .name a,
.dark-mode .name h3,
.dark-mode .links a,
.dark-mode .project-links a {
	color: white;
	background: #211e1e;
}

.border {
	display: block;
	overflow: auto;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: linear-gradient(
		225deg,
		#ffabab,
		#ffdaab,
		#ddffab,
		#abe4ff,
		#d9abff
	);
	background-size: 300% 300%;
	margin: 0;
	-webkit-animation: pastelRainbow 25s ease infinite;
	-moz-animation: pastelRainbow 25s ease infinite;
	animation: pastelRainbow 25s ease infinite;
}

@-webkit-keyframes pastelRainbow {
	0% {
		background-position: 94% 0%;
	}
	50% {
		background-position: 7% 100%;
	}
	100% {
		background-position: 94% 0%;
	}
}

@-moz-keyframes pastelRainbow {
	0% {
		background-position: 94% 0%;
	}
	50% {
		background-position: 7% 100%;
	}
	100% {
		background-position: 94% 0%;
	}
}

@keyframes pastelRainbow {
	0% {
		background-position: 94% 0%;
	}
	50% {
		background-position: 7% 100%;
	}
	100% {
		background-position: 94% 0%;
	}
}

.highlight {
	color: #ffabab;
	font-weight: 500;
}

a:hover {
	color: #ffabab !important;
}

/* TOP */
.name {
	vertical-align: middle;
	/*border: 1px solid black;*/
	/*margin-left: 2%;*/
	display: inline-block;
	width: 50%;
	letter-spacing: 0.1em;
}

.name h1 {
	margin-bottom: 0px;
	font-weight: 500;
}

.name a {
	text-decoration: none;
}

.name h3,
.name a {
	margin-top: 0px;
	font-weight: 400;
	display: inline-block;
	color: gray;
}

#top .links {
	vertical-align: middle;
	/*border: 1px solid black;*/
	display: inline-block;
	width: 48%;
	text-align: right;
}

.links a {
	font-weight: 400;
	margin-left: 10px;
	/* letter-spacing: 0.1em; */
	text-decoration: none;
	color: gray;
}

.links .ko-fi-button img {
	height: 30px;
    vertical-align: middle;
}

/* ABOUT */

.title,
.project h2 {
	margin-bottom: 0px;
	letter-spacing: 0.1em;
	font-weight: 500;
}

#about .blurb {
	vertical-align: middle;
	width: 50%;
	display: inline-block;
	line-height: 1.4em;
}

#about .blurb a {
	font-weight: 500;
	text-decoration: none;
	color: #ffabab;
}

#about img {
	vertical-align: middle;
	width: 43%;
	padding-left: 5%;
}

.img-dark,
.dark-mode .img-light {
	display: none;
}

.img-light,
.dark-mode .img-dark {
	display: inline-block;
}

/* PROJECTS */

.project {
	margin: 3% 3% 6%;
}

.project .blurb {
	display: inline-block;
	width: 49%;
	vertical-align: middle;
	text-align: center;
}

.project h2 {
	display: inline-block;
	margin-bottom: 5px;
}

.project-links a:first-child {
	margin-right: 10px;
}

.project-links a {
	font-weight: 400;
	letter-spacing: 0.1em;
	text-decoration: none;
	color: gray;
}

.technologies {
	margin-top: 5px;
}

.project img {
	/* padding-left: 3%;
	padding-right: 3%; */
	display: inline-block;
	width: 47%;
	vertical-align: middle;
}

.project:nth-child(odd) img {
	padding-left: 3%;
}

.project:nth-child(even) img {
	padding-right: 3%;
}

.project .description,
.technologies,
.built {
	text-align: left;
}

/* EXPERIENCE */

#education,
#professional {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	/*border: 1px solid black;*/
}

#education {
	margin-left: 5%;
}

#education h2,
#professional h2 {
	font-weight: 400;
}

#education h3,
#professional h3 {
	/*border: 1px solid black;*/
	margin-bottom: 0px;
	display: inline-block;
}

#education h5,
#professional h5 {
	margin-top: 0px;
	display: inline-block;
}

.left,
.right {
	width: 48%;
}

.right {
	text-align: right;
}

div .right {
	display: inline-block;
}

/* PRESS */

#press .blurb {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

#press a {
	font-size: 18px;
	margin-left: 15px;
	color: #ffabab;
	text-decoration: none;
}

#press a:hover {
	text-decoration: underline;
}

.reviews {
	display: inline-block;
	z-index: 100;
	padding-left: 120px;
	min-width: 320px;
}

.review {
	display: none;
	margin-top: -50px;
	position: absolute;
	z-index: 100;
	min-width: 320px;
	opacity: 0.8;
}

.review h2 {
	text-align: center;
}

.review h4 {
	text-align: right;
}

#quote2 {
	padding-left: 100px;
	display: none;
	position: absolute;
	z-index: 100;
	min-width: 320px;
	opacity: 0.8;
}

#quote2-1 {
	text-align: left;
}

#quote2-2 {
	text-align: right;
}

/* CONTACT */

#contact {
	width: 50%;
}
#contact a {
	text-decoration: none;
}

/* COPYRIGHT */

#copyright {
	position: absolute;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
	left: 50%;
	margin: 0px;
	font-size: 0.8em;
}

#copyright p {
	margin: -6px auto 6px auto;
}

/* TOGGLE */
#toggle-wrapper {
	position: sticky;
	height: 0px;
	width: 103%;
	top: 25px;
	display: flex;
	justify-content: flex-end;
}

.sticky-element {
	margin-top: -10px;
	position: relative;
	display: inline-block;
	height: 25px;
    cursor: pointer;
}

.sticky-element input {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
}

.sticky-element label.toggle-item {
	width: 35px;
	height: 20px;
	background: transparent;
	display: inline-block;
	border-radius: 50px;
	transition: all 0.3s ease;
	transform-origin: 20% center;
	cursor: pointer;
	border: 1.5px solid rgba(255, 171, 171, 0.5);
}

.sticky-element label.toggle-item::before {
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	margin: 3px;
	border-radius: 2em;
	border: 1.5px solid rgba(153, 129, 129, 0.1);
	background: linear-gradient(
		225deg,
		#ffabab,
		#ffdaab,
		#ddffab,
		#abe4ff,
		#d9abff
	);
	background-size: 300% 300%;
	-webkit-animation: pastelRainbow 25s ease infinite;
	-moz-animation: pastelRainbow 25s ease infinite;
	animation: pastelRainbow 25s ease infinite;
	transition: 0.3s ease;
}

#toggleSwitch:checked + label::before {
	transform: translateX(13px);
}
