/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,400bold);

body {
	font-family: 'Roboto', sans-serif; 
	font-weight: 300;
	background-color: #fffcfa;
}

a {
	text-decoration: none;
	color: gray;
}

a:hover {
	text-decoration: underline;
}

.main {
	display: block;
	margin: 0 auto;
	text-align: center;
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	min-width: 320px;
}

#title {
	color: #f68ea9;		
	font-weight: 300;
}

.links {
	color:gray;
}

.social a {
	text-decoration: none;
	color:gray;
}
.social a:hover {
	color: #f68ea9;
}

#github, #twitter, #instagram, #linkedin {
	display: inline-block;
}
#github a:hover {
	color: #a6e22e;
}
#twitter a:hover {
	color: #55acee;
}
#instagram a:hover {
	color: #fd971f;
}
#linkedin a:hover {
	color: #ae81dd;
}