/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,400bold);

body {
	font-family: 'Roboto', sans-serif; 
	font-weight: 300;
	background-color: #fffcfa;
	color:gray;

}

h1, h2, h4 {
	font-family: 'Roboto', sans-serif; 
	font-weight: 300;
}

p, span, a {
	text-decoration: none;
	color: gray;
}

.main p span:hover, a:hover  {
	text-decoration: underline;
}

/* main section w menu + links */

.main {
	display: inline-block;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	z-index: 100;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	min-width: 320px;		
}

#title {
	color: #f68ea9;
}

.social span {
	margin-right: 5px;
	text-decoration: none;
}

#github a:hover {
	color: #a6e22e;
}
#twitter a:hover {
	color: #55acee;
}
#instagram a:hover {
	color: #fd971f;
}
#linkedin a:hover {
	color: #ae81dd;
}

/* copyright section */
.copyright {
	position: absolute;
	left: 50%;
	bottom: 0%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
		 -o-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
	font-size: 12px;
	text-align: center;
	opacity: 0.5;
}

/* individual sections */

/* about section */
.about {
	display: none;
	position: absolute;
	text-align: left;
	z-index: 100;
	top: 17%;
	left: 50%;
	width: 50%;
	min-width: 320px;	
	opacity: 1;
}

.about h1 {
	color: #a6e22e;
}

.about img {
	width: 500px;
	opacity: 0.97;
}

.about img:hover {
	opacity: 1;
}

/* blinking cursor for typed.js */
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* projects section */

.projects {
	display: none;
	position: absolute;
	text-align: left;
	z-index: 100;
	top: 39%;
	left: 50%;
	width: 50%;
	min-width: 320px;	
	opacity: 1;
}

.projects h1 {
	color: #55acee;
}

.projects img {
	width: 160px;
	height: 160px;
	opacity: 0.97;
}

.about img:hover {
	opacity: 1;
}

/* contact section */

.contact {
	display:none;
	position: absolute;
	text-align: left;
	z-index: 100;
	top: 39%;
	left: 50%;
	width: 50%;
	min-width: 320px;	
	opacity:1;
}

.contact h1 {
	color: #ae81dd;
}

#email a:hover {
	color: #ae81dd;
}
/* press section */
.press {
	display:none;
	position: absolute;
	text-align: left;
	z-index: 100;
	top: 39%;
	left: 50%;
	width: 50%;
	min-width: 320px;	
	opacity:1;
}

.press h1 {
	color: #fd971f;
}

.about p, .projects p, .contact p, .press p {
	width: 500px;
}

.review {
	display:none;
	position: absolute;
	z-index: 100;
	top:120%;
	min-width: 320px;	
	opacity:0.8;
}

.review h2 {
	text-align: center;
}

.review h4 {
	text-align: right;
}

#quote2 {
	display:none;
	position: absolute;
	z-index: 100;
	top:90%;
	left: 13%;
	min-width: 320px;	
	opacity:0.8;
}

#quote2-1 {
	text-align: left;
}

#quote2-2 {
	text-align: right;
}



@media (min-width: 500px) and (max-width: 1006px) {
	.about {
		left: 50%;
		top: 65%;
		min-width: 500px;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
			 -o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);

	}

	.projects, .press, .contact{ 
		left: 50%;
		top: 32%;
		min-width: 500px;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
			 -o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);

	}

}

@media (min-width: 400px) and (max-width: 500px) {
	.about {
		left: 45%;
		top: 65%;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
			 -o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);

	}

	.projects, .press, .contact { 
		left: 45%;
		top: 32%;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
			 -o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);

	}

	.about p, .projects p, .press p, .contact p {
		width: 380px;
	}
	.about img {
		width: 380px;
	}
}

@media (max-width: 400px) {
	.about {
		left: 50%%;
		top: 60%;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
			 -o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
	}

	.projects, .press, .contact { 
		left: 45%;
		top: 32%;
		-webkit-transform: translate(-50%,-50%);
		   -moz-transform: translate(-50%,-50%);
			 -o-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);

	}

	.about p, .projects p, .press p, .contact p {
		max-width: 320px;
	}

	.about img {
		max-width: 320px;
	}
}